* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.header-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 20px;
}

#navlinks {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

#tribute-logo {
    height: auto;
    width: auto;
    max-height: auto;
    max-width: 70px;
    padding-left: 20px;
}

.main {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: white;
    height: 250px;
    padding: 50px;
    /* margin-bottom: 30px; */
}

.header-container, .main {
    background: url(img/piano.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    float: right;
}

#symphonies, #concertos, #sonatas, #string {
    width: 70px;
    padding: 20px;
}

.achievements {
    background: rgba(252, 169, 61, 0.658);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    color: black;
}

.symphonies, .concertos, .sonatas, .string {
    display: flex;
    align-items: center;
}

.why {
    font-family: 'Cookie', cursive;
    color: white;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

/* hover effects */
.container {
    display: flex;
    height: 300px;
    align-items: center;
    
}

.imghvr-fade {
    object-fit: cover;
    width: 100%;
}

